

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  /* background-color: rgb(14, 14, 54); */
}

.contact-form__title {
  color: aliceblue;
  font-size: 3rem;
}

.contact-form__input {
  padding: 1rem 12rem;
  text-align: center;
  margin: 0.5rem 0;
  border-radius: 0.5rem;
  border: 1px solid aliceblue;
  background-color: transparent;
  color: aliceblue;
}

.submit-button {
  margin-top: 2rem;
}

@media (max-width: 55rem) {
  .contact-form {
    margin-top: 0rem;
  }

  .contact-form__input {
    padding: 1rem 5rem;
  }
}
