.main-footer {
  background-color: black;
  padding: 2rem 0 ;
  margin-top: 3rem;
  text-align: center;
}

.footer-paragraph {
  color: aliceblue;
  font-size: 20px;
  animation: carousel-appear 1s ease-out forwards;
}

.footer-subparagraph {
  color: rgb(98, 98, 99);
  font-size: 10px;
  animation: footer-appear 1s ease-out forwards;
}

@media (max-width: 55rem) {

}
