.main-footer {
  background-color: black;
  /* padding: 1vh ;
  margin-top: 1vh; */
  height: 5rem;
  text-align: center;
}

.footer-paragraph {
  margin: 0;
  color: aliceblue;
  font-size: 20px;
  font-style: italic;
  animation: carousel-appear 1s ease-out forwards;
}

.footer-subparagraph {
  color: rgb(98, 98, 99);
  font-size: 10px;
  animation: footer-appear 1s ease-out forwards;
}

@media (max-width: 55rem) {

}
