.header {
  max-width: 100rem;
  margin: auto;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
  flex-direction: row;
}



.logo-img {
  width: 8rem;
}

.list {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: baseline;
  padding: 0 2rem;
}

.list a {
  font-size: 1.4rem;
  padding: 0 2rem;
  text-decoration: none;
  /* color: rgb(73, 73, 188); */

  color: #4285F4;
}

.list a:hover,
.list a.active {
  color: aliceblue;

}



