.button-ui {
  /* background-color: rgb(73, 73, 188); */
  background-color: #4285F4;
  padding: 0.7rem;
  border: none;
  border-radius: 0.2rem;
  font-size: 1.2rem;
}

.button-ui:hover {
  cursor: pointer;
  background-color: aliceblue;
  color: #4285F4;
  /* color: rgb(73, 73, 188); */
}
